.paragraph {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  // letter-spacing: 1px;
}

.title {
  font-size: 50px;
  line-height: 54px;
  // letter-spacing: 2px;
  font-weight: 700;
}

.subtitle {
  font-size: 36px;
  line-height: 40px;
  // letter-spacing: 2px;
  font-weight: 600;
}
